[submodule "nvim/.config/nvim/pack/plugins/start/kotlin-vim"]
	path = nvim/.config/nvim/pack/plugins/start/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "nvim/.config/nvim/pack/plugins/start/vim-airline"]
	path = nvim/.config/nvim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "void/subprojects/git-merge-pr"]
	path = sourcecode/subprojects/git-merge-pr
	url = https://github.com/leahneukirchen/git-merge-pr.git
[submodule "sourcecode/subprojects/hugo.el"]
	path = sourcecode/subprojects/hugo.el
	url = https://github.com/aaronbieber/hugo.el.git
[submodule "sourcecode/subprojects/purr-c"]
	path = sourcecode/subprojects/purr-c
	url = https://github.com/ericonr/purr-c.git
[submodule "sourcecode/subprojects/get-otp"]
	path = sourcecode/subprojects/get-otp
	url = https://github.com/ericonr/get-otp.git
[submodule "nvim/.config/nvim/pack/plugins/start/nvim-lspconfig"]
	path = nvim/.config/nvim/pack/plugins/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
