#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Deezer
GenericName=A proprietary music streaming service
Comment=Graphical interface to Deezer audio streaming service.
Icon=/usr/share/deezer/app.ico
Exec=deezer
Terminal=false
Categories=Multimedia
StartupNotify=false

